{% extends 'layout.html' %}
{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link href="/static/css/bootstrap_p.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
    <script src="/static/js/portfolio.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>
{% endblock %}
{% block content %}
<body style="height:100%; background-color:#363636;">
  <div style="height:100%; width: 1200px; text-align:center;">
    <div style="vertical-align:middle;  margin-top:15px;">
      <h2 style="color:white;">Back Testing</h2>
    </div>
    <hr style="color:white;">  
  </div>
</body>
  <!--javascript-->
  <script type='text/javascript'></script>
{% endblock %}